* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#scene {
    width: 800px;
    display: flex;
    flex-direction: column;
}

#start {
    color: white;
    text-align: center;
    font-size: 24px;
    margin: 20px 10px;
    cursor:pointer;
}

#buttons {
    color: white;
    text-align: center;
    font-size: 14px;
    margin: 20px 10px;
    cursor:pointer;
}

#grid {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
}

#grid .cell {
    cursor: pointer;
    border: 1px solid rgb(103, 103, 103);
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid .cell.alive {
    background-color: rgb(51, 255, 0);
}

